
body{
  /* background-color: #BFFFF0; */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,683,312)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23A92626'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='600' height='500' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  
}

h1{
  font-size: 30px;
}



.encabezado{
  color: white;
  letter-spacing: 3px;
  background-color: #383838;
  margin: auto;
  border-radius: 25px 25px 0 0;
  padding: 0.5% 2%;

}



.sub-head{
  color: #F7F7F7;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #DDDDDD;
  font-stretch: ultra-condensed;
  margin: auto;
  padding: 0.5% 2%;
  border-radius: 10px 10px 10px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* ------------------------ Para botones ----------------------------*/
.btn {
  margin: 10px;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b51212);
  background-image: -moz-linear-gradient(top, #d93434, #b51212);
  background-image: -ms-linear-gradient(top, #d93434, #b51212);
  background-image: -o-linear-gradient(top, #d93434, #b51212);
  background-image: linear-gradient(to bottom, #d93434, #b51212);
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
}

.btn:hover {
  background: #f74d4d;
  background-image: -webkit-linear-gradient(top, #f74d4d, #c75252);
  background-image: -moz-linear-gradient(top, #f74d4d, #c75252);
  background-image: -ms-linear-gradient(top, #f74d4d, #c75252);
  background-image: -o-linear-gradient(top, #f74d4d, #c75252);
  background-image: linear-gradient(to bottom, #f74d4d, #c75252);
  text-decoration: none;
}

.confirma {
  background: #2887c7;
  background-image: -webkit-linear-gradient(top, #2887c7, #96eaff);
  background-image: -moz-linear-gradient(top, #2887c7, #96eaff);
  background-image: -ms-linear-gradient(top, #2887c7, #96eaff);
  background-image: -o-linear-gradient(top, #2887c7, #96eaff);
  background-image: linear-gradient(to bottom, #2887c7, #96eaff);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  text-decoration: none;
}

.confirma:hover {
  background: #008ee0;
  background-image: -webkit-linear-gradient(top, #008ee0, #0036d6);
  background-image: -moz-linear-gradient(top, #008ee0, #0036d6);
  background-image: -ms-linear-gradient(top, #008ee0, #0036d6);
  background-image: -o-linear-gradient(top, #008ee0, #0036d6);
  background-image: linear-gradient(to bottom, #008ee0, #0036d6);
  text-decoration: none;
}

/* ------------------------ ----------------------------*/
.container{
  border-radius: 25px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
}

.form{
  padding: 2% 3%;
}

.domicilioTrabajo{
  letter-spacing: 2px;
  background-color:#EFFFFD;
  color:#A4EBF3;
  font-weight: bold;

}

/* ------------------------ FORMATO DE VALIDACION ----------------------------*/
.formularioValidacion{ /*icono de error no mostrar al inicio*/
  position: absolute;
  right: 20px;
  margin-top:12px;
  z-index: 100;
  font-size: 20px;
  opacity: 0;
}

.incorrecto{
  color:red;
  opacity: 1;
}

.correcto{
  color:green;
  opacity: 1;
}



.fomularioErrorEntrada{/*mensaje de error debajo de los campos*/
  font-size: 12px;
  color:#D6D2C4;
  display: none;
}

.formularioMensajeError{ /*mensaje que se muestra cuando el formulario esta incompleto o incorrecto*/
  background-color: #FEF9A7;
  margin:1% 0 2% 0;
  height: 4.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 0.080rem;
  padding-bottom: 0.8rem;
  font-size: 15px;
  display:none;
}

.formularioMensajeError-Activo{
  display:block;
}

.botonEnviar{
  text-align: center;
}

.mensajeExito{
  color:green;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #B4E197;
  display: none;
}

.mensajeExito-Activo{
  color:green;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #B4E197;
  text-align: center;
  display: block;
}

.botonesConfirmacion{
  margin-top: 30px;
  text-align: center;
  display: none;
}

.botonesConfirmacion-Activos{
  margin-top: 30px;
  text-align: center;
  display: block;
}
/* **********************FORMATO DE INPUTS*********************** */
  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #6FB2D2;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #6FB2D2;
     box-shadow: 0 1px 0 0 #6FB2D2;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #C7D36F;
     box-shadow: 0 1px 0 0 #C7D36F;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #7900FF;
   }
 /* ********************Diseño HEADER**************************** */
   header{
  position: sticky;
  top: 0;
  z-index: 200;
  font-size: 5rem;
}
header div {
  background-color: #c62828;
  padding: 0;
  color: #FFEDD3;
}
.row.header{
  padding: 0;
  margin: 0;
}

.logo {
  width: 90px;
  margin-top: 5px;
}
/* ******************Formato CARTAS**************************** */
.card {
  border-radius: 25px;
}

.card .card-image .card-title {
  color: black;
  padding: 0px;
  background-color: #FFEDD3;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.card .card-image img {
  width: 50%;
  border-radius: 0;
  position: relative;
  left: 25%;
  padding-top: 0px;
}

.card .card-content {
  text-align: justify;
  padding: 20px 10px;
}

.cards{
  padding: 0px;
}

.card-image {
  padding: 0px;
}

